.View * {
    box-shadow: none;
}
.PanelHeader * {
    background: transparent;
}
.PanelHeader-content {
    font-size: 1.5em !important;
    color: #000 !important;
}
.PanelHeader__content {
    position: absolute !important;
    left: 15px;
}
.PanelHeader-content span {
    color:white;
}
.circle {
    width: 200vw;
    height: 100vw;
    left: -50%;
    border-radius: 100%;
    background: linear-gradient(135deg, rgba(108,181,250,1) 0%, rgba(51,119,239,1) 100%);
    transform: translateY(-60%);
    position: absolute;
    z-index: -1;
}